.contenedor {
    position: relative;
    width: 1500px;
    height: 1500px;
    background-color: blue;
}
.contenido {
        position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(19, 180, 28);
}
.contenido2 {
        position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(252, 100, 12);
    top: 0;
    left: 200px;
}